<h2><%= @post.title %></h2>
<p><%= @post.body %></p>

<hr>

<%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-deefault' %>
<%= link_to "Delete", post_path(@post), 
        method: :delete,
        data: {confirm: 'Are you sure?'},
        :class => 'btn btn-danger' %>

<hr>

<%# links to 'views/comments/_comments.html.erb' file (a partial view): %>
<%= render 'comments/comments' %>

<hr>

<%# links to 'views/comments/_form.html.erb' file (a partial view): %>
<%= render 'comments/form' %>